[submodule "/home/sam/.config/zsh/plugins/fzf-tab"]
	path = /home/sam/.config/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "/home/sam/.config/zsh/plugins/zsh-autocomplete"]
	path = /home/sam/.config/zsh/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
[submodule "/home/sam/.config/zsh/plugins/zsh-autosuggestions"]
	path = /home/sam/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "/home/sam/.config/zsh/plugins/forgit"]
	path = /home/sam/.config/zsh/plugins/forgit
	url = https://github.com/wfxr/forgit
[submodule "/home/sam/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = /home/sam/.config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
