*

!AGENTS.md
!.mcp.json
!.geminiignore
!.codexignore

!.zed/
!.zed/**

!.gitignore
!.gitmodules

!README.md
!OSX.md

!.tmux.conf

!.zshrc

!.config/
.config/*

!.config/zsh/
!.config/zsh/**

!.config/aerospace/
!.config/aerospace/**

!.config/starship/
!.config/starship/**

!.config/bat/
!.config/bat/**

!.config/bottom/
!.config/bottom/**

!.config/topiary/
!.config/topiary/**

!.config/yazi/
!.config/yazi/**

!.config/karabiner/
!.config/karabiner/**

!.config/kitty/
!.config/kitty/**

!.config/ghostty/
!.config/ghostty/**

!.config/nushell/
!.config/nushell/**

!.config/zed/
!.config/zed/**

!.config/nvim/
!.config/nvim/**

!.config/brew-bundles/
!.config/brew-bundles/**

!.config/pulse/
!.config/pulse/**

!.config/tmuxinator/
!.config/tmuxinator/**
