*
!.gitignore
!.gitmodules
!.gitattributes
!README.md
!.config/
.config/*
!.local/
!.local/share
.local/share/**
!INSTRUCTIONS.md

# VSCode
!.vscode/
!.vscode/settings.json

# Zsh
!.zshrc
!.zprofile
!.config/zsh/
!.config/zsh/**

# Delta
!.config/delta/
!.config/delta/**

# Starship
!.config/starship.toml
!.config/starship_default.toml

# Warp
!.warp/
!.warp/themes/**
!.warp/keybindings.yaml

# Bat
!.config/bat/
!.config/bat/**

# Bottom
!.config/bottom/
!.config/bottom/**

# Karabiner
!.config/karabiner/
!.config/karabiner/config.ts
!.config/karabiner/default_config.json
!.config/karabiner/tsconfig.json
!.config/karabiner/flake.nix
!.config/karabiner/flake.lock
!.config/karabiner/README.md

# Skhd
!.config/skhd/
!.config/skhd/**

# Spacebar
!.config/spacebar/
!.config/spacebar/**

# Yabai
!.config/yabai/
!.config/yabai/**

# Misc
!.config/misc/
!.config/misc/**
.config/misc/rawaccel/RawAccel/
.config/misc/blender/config/bookmarks.txt
.config/misc/blender/config/platform_support.txt

# Blender
!.config/blender/
!.config/blender/**
.config/blender/config/bookmarks.txt
.config/blender/config/platform_support.txt

# Kitty
!.config/kitty/
!.config/kitty/**

# lf
!.config/lf/
!.config/lf/**

# Hyprland
!.config/hypr/
!.config/hypr/**

# Rofi
!.config/rofi/
!.config/rofi/**

# Waybar
!.config/waybar/
!.config/waybar/**

# GTK
!.config/gtk*/
!.config/gtk*/**

# Fcitx5
!.local/share/fcitx5/
!.local/share/fcitx5/themes/
!.local/share/fcitx5/themes/mine/
!.local/share/fcitx5/themes/mine/**
!.config/fcitx5/
!.config/fcitx5/conf/
!.config/fcitx5/conf/pinyin.conf
!.config/fcitx5/conf/classicui.conf
!.config/fcitx5/config
!.config/fcitx5/profile

# Wallpapers
!.config/wallpapers/
!.config/wallpapers/**

# GNOME
!.config/gnome/
!.config/gnome/**

# Poetry
!.config/pypoetry/
!.config/pypoetry/**

# Neovim
!.config/nvim/
!.config/nvim/**
.config/nvim/plugin
